$black: #171717;
$red: #B80C09;

$navy: #364A62;
$orange: #BA2D0B;

$onyx: #474B4D;
$yellow: #C9C627;

$grey: #dbdbdb;
$turquoise: #3587a4;

$white: #ffffff;

@keyframes slide-top {
  0% {
    transform: translateY(150px);
  }
  100% {
    transform: translateY(-50px);
  }
}

@keyframes slide-bottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(175px);
  }
}

body {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  color: $black;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

::selection {
  background-color: $black;
  color: $white;
}

.background {
  height: 100vh;
}

.wrapper {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.content {
  padding: 15px;
}

.stripe-bar {
  height: 50px;
  transform: translateY(175px);

  ul {
    width: 50%;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
  }

  li {
    height: 40px;
    margin: 5px;
    cursor: pointer;
  }

  &.top {
    animation: slide-top 0.5s ease both;
  }

  &.bottom {
    animation: slide-bottom 0.5s ease both;
  }
}

.stripe {
  width: 100%;
  height: 200px;
  background-color: $white;
  transition: height 0.5s ease;

  .content {
    position: relative;
    display: block;
  }

  &.close {
    height: 0;

    .content {
      display: none;
    }
  }
}

.section {
  background-color: $white;
  width: 100%;
  height: 0;
  transition: height 0.5s ease;
  overflow: hidden;

  &.open {
    height: 500px;
  }
}

//region Settings Bar
.settings-bar {
  width: 120px;
  height: 50px;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translateX(120px);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: $white;
  transition: transform 0.5s ease;

  &.visible {
    transform: translateX(0px);
  }

  .square {
    width: 20px;
    height: 20px;

    background-color: $grey;
    margin: 10px;
    cursor: pointer;

    &.black {
      background-color: $black;
    }

    &.orange {
      background-color: $orange;
    }
  }
}

.settings {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 5px;
  cursor: pointer;
}

//endregion

form {
  width: 100%;
  color: $white;

  display: flex;
  flex-direction: column;
}

.field {
  width: 75%;
  position: relative;
  overflow: hidden;
  margin: 10px auto;

  label {
    width: 100%;
    height: 100%;
    float: right;
    line-height: 20px;
    padding: 10px;
    transition: transform 0.5s ease;
  }

  input,
  textarea {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
    border: none;
    font-family: 'Comfortaa', cursive;
    color: $white;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    padding: 10px;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    transition-delay: 60ms;

    &:focus,
    &.filled {
      transform: translateX(100%);
      outline: none;

      + label {
        transform: translateX(75%);
      }
    }
  }
}

textarea {
  resize: none;
  height: auto;
}

button {
  width: 40%;
  height: 40px;
  font-family: 'Comfortaa', cursive;
  color: $white;
  font-weight: 700;
  font-size: 15px;
  border: none;
  margin: 20px auto;
}