@keyframes slide-top {
  0% {
    transform: translateY(150px); }
  100% {
    transform: translateY(-50px); } }

@keyframes slide-bottom {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(175px); } }

body {
  color: #171717;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.background {
  height: 100vh; }

.stripe-wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.stripe {
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  transition: height 0.5s ease; }
  .stripe.close {
    height: 0; }
    .stripe.close .stripe-content {
      display: none; }

.stripe-content {
  position: relative;
  display: block; }

.nav-stripe {
  height: 50px;
  transform: translateY(175px); }
  .nav-stripe ul {
    width: 50%;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto; }
  .nav-stripe li {
    height: 40px;
    margin: 5px;
    cursor: pointer; }
  .nav-stripe.top {
    animation: slide-top 0.5s ease both; }
  .nav-stripe.bottom {
    animation: slide-bottom 0.5s ease both; }

.section {
  background-color: #ffffff;
  width: 100%;
  height: 0;
  transition: height 0.5s ease;
  overflow: hidden; }
  .section.open {
    height: 500px; }

.settings-wrapper {
  width: 120px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(120px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  transition: transform 0.5s ease; }
  .settings-wrapper.open {
    transform: translateX(0px); }

.settings {
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
  cursor: pointer; }

.square {
  width: 20px;
  height: 20px;
  background-color: #dbdbdb;
  margin: 10px;
  cursor: pointer; }
  .square.black {
    background-color: #171717; }
  .square.orange {
    background-color: #BA2D0B; }
