$black: #171717;
$red: #B80C09;

$navy: #364A62;
$orange: #BA2D0B;

$grey: #dbdbdb;
$turquoise: #3587a4;

$white: #ffffff;

@keyframes swipe {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  font-family: 'Comfortaa', sans-serif;
  font-size: 15px;
  line-height: 25px;
  color: $black;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background-color: $black;
  color: $white;
}

:focus {
  outline: none;
}

.background {
  height: 100vh;
}

.wrapper {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.content {
  padding: 15px;

  @media (min-width: 768px) {
    height: 100%;
  }
}

.stripe-bar {
  width: 100%;
  height: 50px;
  z-index: 100;
  margin-top: -50px;

  ul {
    width: 90%;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;

    @media (min-width: 768px) {
      width: 60%;
    }
  }

  li {
    width: 100px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
    overflow: hidden;

    &.immobile {
      svg {
        transform: translateX(15px);
      }

      &:hover {
        svg {
          transform: translateX(15px);
        }
      }
    }

    span {
      min-width: 100px;
      color: $white;
      font-weight: 700;
      letter-spacing: 0.55px;
      line-height: 40px;
      text-transform: uppercase;
      transform: translateX(-100px);
      transition: all 0.5s;
    }

    svg {
      min-width: 40px;
      min-height: 40px;
      margin-bottom: 5px;
      transition: all 0.5s;
    }

    &:nth-of-type(2) {
      svg {
        transform: translateX(-45px);
      }
    }

    &:nth-of-type(3) {
      svg {
        transform: translateX(-50px);
      }
    }

    &:hover {
      svg {
        transform: translateX(130px);
      }

      span {
        transform: translateX(20px);
      }
    }
  }
}

.stripe {
  width: 100%;
  max-height: calc(100vh - 85px);
  background-color: $white;
  overflow: hidden;
  flex: 1;
  transition: flex 0.5s linear;

  @media (min-width: 768px) {
    max-height: 300px;
  }

  &.close {
    flex: 0;
  }

  &.open {
    transition-delay: 0.5s;
  }
}

.section {
  width: 100%;
  max-height: calc(100vh - 185px);
  background-color: $white;
  overflow: auto;
  flex: 0;
  transition: flex 0.5s linear;

  &.open {
    flex: 1;
    transition-delay: 0.5s;
  }

  @media (min-width: 768px) {
    overflow: hidden;
    max-height: 480px;
  }
}

.swipe {
  animation: swipe 0.35s;
  height: 100%;
}

.stripe-box-wrapper {
  width: 100%;
  height: calc(140px * 2);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: calc(140px * 3);
    height: 145px;
    flex-direction: row;
    justify-content: space-between;
  }
}

.stripe-box {
  width: 100%;
  height: 125px;
  display: inline-block;
  position: relative;
  backface-visibility: hidden;
  cursor: pointer;
  margin: 0;

  @media (min-width: 768px) {
    max-width: 125px;
    margin: 0;
  }

  .stripe-background {
    width: 125px;
    height: 125px;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    margin: 0 auto;
  }

  .stripe-label {
    width: 100%;
    height: 125px;
    display: inline-block;
    position: relative;
    top: -125px;
    z-index: 1;

    color: $white;
    backface-visibility: hidden;
    cursor: default;

    transition: all 0.5s;

    a {
      position: relative;
      font-weight: 700;
      color: $white;
      text-decoration: none;
      display: inline-block;

      &:before,
      &:after {
        content: '';
        width: 100%;
        height: 3px;
        position: absolute;
        left: -200%;
        background: $white;
        transition: all 0.5s;
      }

      &:hover {
        &:before,
        &:after {
          left: 0;
        }
      }

      &:before {
        top: 0;
        transform: translateY(-5px);
      }

      &:after {
        bottom: 0;
        transform: translateY(5px);
      }
    }

    @media (min-width: 768px) {
      width: calc(140px * 3);
    }
  }

  &:nth-of-type(1) {
    .stripe-label {
      transform: translateX(-100%);

      @media (min-width: 768px) {
        transform: translateX(-420px);
      }
    }
  }

  &:nth-of-type(2) {
    .stripe-label {
      transform: translateX(-100%);

      @media (min-width: 768px) {
        transform: translateX(-570px);
      }
    }
  }

  &:nth-of-type(3) {
    .stripe-label {
      transform: translateX(-100%);

      @media (min-width: 768px) {
        transform: translateX(-720px);
      }
    }
  }

  &:hover {
    &:nth-of-type(1) {
      .stripe-label {
        transform: translateX(0);
      }
    }

    &:nth-of-type(2) {
      .stripe-label {
        transform: translateX(0);

        @media (min-width: 768px) {
          transform: translateX(-147px);
        }
      }
    }

    &:nth-of-type(3) {
      .stripe-label {
        transform: translateX(0);

        @media (min-width: 768px) {
          transform: translateX(-295px);
        }
      }
    }
  }

  &.empty {
    display: none;

    @media (min-width: 768px) {
      display: block;
      width: 125px;
      height: 125px;
      cursor: default;
    }
  }

  //region Projects
  &.ratio {
    .stripe-background {
      background-image: url("./media/projects/ratio.png");
    }
  }

  &.opad {
    .stripe-background {
      background-image: url("media/projects/opad.png");
    }
  }

  &.arcadi {
    .stripe-background {
      background-image: url("media/projects/arcadi.png");
    }
  }

  &.cc {
    .stripe-background {
      background-image: url("media/projects/cc.svg");
    }
  }

  &.iggi {
    .stripe-background {
      background-image: url("media/projects/iggi.png");
    }
  }

  &.ww {
    .stripe-background {
      background-image: url("media/projects/ww.png");
    }
  }
  //endregion

  p {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

//region Settings Bar
.settings-bar {
  width: 50px;
  height: 185px;

  position: absolute;
  top: 50px;
  right: 0;
  z-index: 10;
  transform: translateX(50px);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  background-color: $white;
  transition: transform 0.5s ease;

  @media (min-width: 768px) {
    height: calc(100% - 100px);
  }

  &.visible {
    transform: translateX(0px);
  }

  .separator {
    width: 55%;
    border-top: 2px solid;
  }

  .square {
    min-width: 20px;
    min-height: 20px;

    font-weight: 700;
    text-transform: uppercase;
    margin: 7px;
    cursor: pointer;

    &.black {
      background-color: $black;
    }

    &.orange {
      background-color: $orange;
    }

    &.grey {
      background-color: $grey;
    }
  }
}

.settings,
.linkedin,
.github {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  margin: 5px;
  cursor: pointer;
  overflow: hidden;

  svg {
    min-width: 24px;
    min-height: 40px;
    margin-right: 10px;
    transform: translateX(-15px);
    transition: all 0.5s;
  }

  span {
    min-width: 100px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.55px;
    transform: translateX(-100px);
    transition: all 0.5s;
  }

  &:hover {
    svg {
      transform: translateX(25px);
    }

    span {
      transform: translateX(20px);
    }
  }
}

.linkedin {
  top: 50px;
}

.github {
  top: 100px;
}

//endregion

//region Contact Form
form {
  width: 100%;

  display: flex;
  flex-direction: column;

  p {
    width: 80%;
    text-align: center;
    margin: 25px auto;
  }
}

.field {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
  margin: 10px auto;

  @media (min-width: 768px) {
    width: 80%;
  }

  label {
    width: 100%;
    height: 100%;
    float: right;
    color: $white;
    line-height: 20px;
    padding: 15px;
    transition: transform 0.5s ease;
  }

  &:hover {
    input,
    textarea {
      transform: translateX(100%);
      outline: none;

      + label {
        transform: translateX(69%);
      }
    }
  }

  input,
  textarea {
    width: 69%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
    border: none;
    font-family: 'Comfortaa', sans-serif;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 15px;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    transition-delay: 50ms;

    &:focus,
    &.filled {
      transform: translateX(100%);
      outline: none;

      + label {
        transform: translateX(69%);
      }
    }
  }
}

textarea {
  resize: none;
  height: auto;
}

button {
  width: 30%;
  height: 50px;
  position: relative;
  font-family: 'Comfortaa', sans-serif;
  color: $white;
  font-weight: 700;
  font-size: 15px;
  border: none;
  margin: 20px auto;
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.5s;
  overflow: hidden;

  span {
    width: 100%;
    display: inline-block;
    backface-visibility: hidden;
    text-decoration: none;

    transition: all 0.5s;
  }

  &:before {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: -100%;

    transition: all 0.5s;

    font-size: 175%;
    line-height: 2;
  }

  &:disabled {
    cursor: not-allowed;

    span {
      text-decoration: line-through;
    }

    &:hover {
      span {
        transform: none;
      }

      &:before {
        left: -100%;
      }
    }
  }

  &:hover {
    span {
      transform: translateX(200%);
    }

    &:before {
      left: 0;
    }
  }

  &.submit:before {
    content: url("media/icons/arrow.svg");
  }

  &.delete {
    margin-top: 10px;
    margin-bottom: 0;

    @media (min-width: 768px) {
      margin-top: 30px;
    }
  }

  &.delete:before {
    content: url("media/icons/delete.svg");
  }
}

//endregion