@keyframes slide-top {
  0% {
    transform: translateY(150px); }
  100% {
    transform: translateY(-50px); } }

@keyframes slide-bottom {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(175px); } }

body {
  font-family: 'Comfortaa', cursive;
  font-size: 15px;
  color: #171717;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

::selection {
  background-color: #171717;
  color: #ffffff; }

.background {
  height: 100vh; }

.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.content {
  padding: 15px; }

.stripe-bar {
  height: 50px;
  transform: translateY(175px); }
  .stripe-bar ul {
    width: 50%;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto; }
  .stripe-bar li {
    height: 40px;
    margin: 5px;
    cursor: pointer; }
  .stripe-bar.top {
    animation: slide-top 0.5s ease both; }
  .stripe-bar.bottom {
    animation: slide-bottom 0.5s ease both; }

.stripe {
  width: 100%;
  height: 200px;
  background-color: #ffffff;
  transition: height 0.5s ease; }
  .stripe .content {
    position: relative;
    display: block; }
  .stripe.close {
    height: 0; }
    .stripe.close .content {
      display: none; }

.section {
  background-color: #ffffff;
  width: 100%;
  height: 0;
  transition: height 0.5s ease;
  overflow: hidden; }
  .section.open {
    height: 500px; }

.settings-bar {
  width: 120px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  transform: translateX(120px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  transition: transform 0.5s ease; }
  .settings-bar.visible {
    transform: translateX(0px); }
  .settings-bar .square {
    width: 20px;
    height: 20px;
    background-color: #dbdbdb;
    margin: 10px;
    cursor: pointer; }
    .settings-bar .square.black {
      background-color: #171717; }
    .settings-bar .square.orange {
      background-color: #BA2D0B; }

.settings {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  margin: 5px;
  cursor: pointer; }

form {
  width: 100%;
  color: #ffffff;
  display: flex;
  flex-direction: column; }

.field {
  width: 75%;
  position: relative;
  overflow: hidden;
  margin: 10px auto; }
  .field label {
    width: 100%;
    height: 100%;
    float: right;
    line-height: 20px;
    padding: 10px;
    transition: transform 0.5s ease; }
  .field input,
  .field textarea {
    width: 75%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 100%;
    border: none;
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    padding: 10px;
    transform: translateX(-100%);
    transition: transform 0.5s ease;
    transition-delay: 60ms; }
    .field input:focus, .field input.filled,
    .field textarea:focus,
    .field textarea.filled {
      transform: translateX(100%);
      outline: none; }
      .field input:focus + label, .field input.filled + label,
      .field textarea:focus + label,
      .field textarea.filled + label {
        transform: translateX(75%); }

textarea {
  resize: none;
  height: auto; }

button {
  width: 40%;
  height: 40px;
  font-family: 'Comfortaa', cursive;
  color: #ffffff;
  font-weight: 700;
  font-size: 15px;
  border: none;
  margin: 20px auto; }
